In [26]:
import numpy as np
import pandas as pd
from datetime import datetime
import re
from collections import Counter
from wordcloud import WordCloud
import warnings
import emoji

In [27]:
def seperate_date_time(x):
    date = pd.to_datetime(x.split(', ')[0])
    time = x.split(', ')[1].split(' - ')[0]
    return date, time

In [28]:
def createDf(file_data, dt):
    patterns = {
        '12 Hour':'\d{1,2}/\d{1,2}/\d{2,4},\s\d{1,2}:\d{2}\s[APap][mM]\s-\s',
        '24 Hour':'\d{1,2}/\d{1,2}/\d{2,4},\s\d{1,2}:\d{2}\s-\s',
    }
    
    data = ' '.join(file_data.read().split('\n'))
    user_message = re.split(patterns[dt], data)[1:]
    date_time = re.findall(patterns[dt], data)
    
    df = pd.DataFrame({'UserMessage': user_message, 'DateTime': date_time})
    df[['Date','Time']] = df['DateTime'].apply(lambda x: seperate_date_time(x)).to_list()
    users = []
    messages = []
    for message in df['UserMessage']:
        entry = re.split('([\w\W]+?):\s', message)
        if entry[1:]:
            users.append(entry[1])
            messages.append(entry[2])
        else:
            users.append('group_notification')
            messages.append(entry[0])

    df['User'] = users
    df['Message'] = messages
    df.drop(columns=['UserMessage', 'DateTime'], inplace=True)
    return df

In [40]:
f = open('chats/WhatsApp Chat with Say GT (original) 12 hour format.txt', 'r', encoding='utf-8')
df = createDf(f, '12 Hour')

In [36]:
f = open('chats/WhatsApp Chat with Say GT (original) 24 hour format.txt', 'r', encoding='utf-8')
df = pd.DataFrame(createDf(f, '24 Hour'))

In [ ]:
f = open('chats/2yearsreport.txt', 'r', encoding='utf-8')
df = pd.DataFrame(createDf(f, '12 Hour'))

In [ ]:
f = open('chats/chat.txt', 'r', encoding='utf-8')
df = createDf(f, '12 Hour')

In [24]:
f = open('chats/WhatsApp Chat with SAY GT.txt', 'r', encoding='utf-8')
df = pd.DataFrame(createDf(f, '12 Hour'))

In [41]:
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month_name()
df['MonthNum'] = df['Date'].dt.month
df['DayOfWeek'] = df['Date'].dt.dayofweek
df['WeekNum'] = df['Date'].dt.week
df['Day'] = df['Date'].dt.day
df['DayName'] = df['Date'].dt.day_name()
df['Hour'] = df['Time'].apply(lambda x: x.split(':')[0])
df['Minute'] = df['Time'].apply(lambda x: (x.split(':')[1]).split(' ')[0])

#Uncomment while working with 12 hour file format
df['Meridian'] = df['Time'].apply(lambda x: (x.split(':')[1]).split(' ')[1]).str.upper()

df.head()

C:\Users\lenovo\AppData\Local\Temp/ipykernel_11312/236753741.py:5: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df['WeekNum'] = df['Date'].dt.week

,Date,Time,User,Message,Year,Month,MonthNum,DayOfWeek,WeekNum,Day,DayName,Hour,Minute,Meridian
0,2022-05-09,3:01 PM,group_notification,Messages and calls are end-to-end encrypted. N...,2022,May,5,0,19,9,Monday,3,01,PM
1,2022-05-26,7:21 PM,Clg Divyansh,Robotics ke notes,2022,May,5,3,21,26,Thursday,7,21,PM
2,2022-05-26,7:44 PM,Clg Kushagra Ahire,MST me jo numerical aaye the uske solution bhe...,2022,May,5,3,21,26,Thursday,7,44,PM
3,2022-05-26,7:55 PM,Clg Abbas Amjhera,<Media omitted>,2022,May,5,3,21,26,Thursday,7,55,PM
4,2022-05-26,8:05 PM,+91 6239 413 783,Bhai notes bhej do yrr koi üôèüèª,2022,May,5,3,21,26,Thursday,8,05,PM

# Fetch Stats

In [42]:
def fetch_stats(selected_user, df):
  if selected_user != 'Overall':
    df = df[df['User'] == selected_user]
  num_messages = df.shape[0]
  diff_days = (df.Date.iloc[len(df)-1] - df.Date.iloc[0]).days
  words = []
  for message in df['Message']:
    words.extend(message.split())

  num_media_messages = df[df['Message'] == '<Media omitted>\n'].shape[0]
  return num_messages, len(words), num_media_messages, diff_days

In [43]:
fetch_stats('Overall', df)

(4201, 21507, 0, 144)

# Removed/Left User

In [44]:
def seperate(x, seperator):
    if seperator == 'removed':
        if x.find(seperator) != -1:
            return x.split(seperator)[1]
        else:
            return x.split('left')[0]
    else:
        if x.find(seperator) != -1:
            return x.split(seperator)[1]
        else:
            return x.split('joined')[0]

In [45]:
seperate('Dhakad Svvv removed +91 94240 96950', 'removed')

' +91 94240 96950'

In [46]:
seperate('You left', 'removed')

'You '

In [47]:
seperate('Dhakad Svvv added +91 98937 63178', 'added')

' +91 98937 63178'

In [48]:
seperate('Hrishikesh Svvv joined using this group', 'added')

'Hrishikesh Svvv '

In [49]:
def removed_left(df):
    df = df[df['User']=='group_notification']
    df = df[df['Message'].str.contains('changed|deleted|encrypted|created') == False]
    removedLeft = df[df['Message'].str.contains('removed|left') ==  True]
    addedJoined = df[df['Message'].str.contains('added|joined') == True]
    removedLeft['Status'] = 0
    addedJoined['Status'] = 1
    removedLeft['User'] = removedLeft.Message.apply(lambda x: seperate(x, 'removed'))
    addedJoined['User'] = addedJoined.Message.apply(lambda x: seperate(x, 'added'))
    new_df = pd.concat([removedLeft, addedJoined])
    new_df.drop(columns=['Date','Time', 'Message', 'Year', 'Month', 'MonthNum', 'DayOfWeek', 'WeekNum', 'Day', 'Hour', 'DayName', 'Minute'], inplace=True, axis=1)
    new_df['User'] = new_df['User'].str.lower()
    new_df['User'] = new_df['User'].str.split(', ')
    new_df = new_df.explode('User')
    new_df['User'] = new_df['User'].str.split(' and ')
    new_df = new_df.explode('User')
    new_df['User'] = new_df['User'].str.strip()
    new_df = new_df.groupby('User')['Status'].count().reset_index()
    new_df['Status'] = new_df.Status.apply(lambda x: x%2 == 0)
    return len(new_df[new_df.Status==True])

In [50]:
removed_left(df)

C:\Users\lenovo\AppData\Local\Temp/ipykernel_17328/962002200.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  removedLeft['Status'] = 0
C:\Users\lenovo\AppData\Local\Temp/ipykernel_17328/962002200.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  addedJoined['Status'] = 1
C:\Users\lenovo\AppData\Local\Temp/ipykernel_17328/962002200.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  removedLeft['User'] = removedLeft.Message.apply(lambda x: seperate(x, 'removed'))
C:\Users\lenovo\AppData\Local\Temp/ipykernel_17328/962002200.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  addedJoined['User'] = addedJoined.Message.apply(lambda x: seperate(x, 'added'))

5

# Chatting From

In [51]:
def chat_from(selected_user, df):
    if selected_user != 'Overall':
        df = df[df['User'] == selected_user]
    unique_years = df['Year'].unique()
    start_year = unique_years[0]
    msg_count = df.groupby(['Date']).count()['Message']
    avg_msg = round(msg_count.mean(),2)
    return start_year, avg_msg

In [52]:
chat_from('Overall', df)

(2022, 34.72)

# Most Talkative

In [53]:
def most_talkative(df):
    df = df[df['User'] != 'group_notification']
    user = df['User'].value_counts()
    username = user.index[0]
    avg_msg = round(user[username]/len(df)*100, 2)
    return username, avg_msg

In [54]:
most_talkative(df)

('Abhsihek Jen Svvv', 13.66)

# Influencer

In [55]:
def influencer(df):
    df = df[df['User'] != 'group_notification']
    new_df = df.groupby(['User'])
    inf_dict = {}
    for name, group in new_df:
        count = 0
        for i in group['Message']:
            if '<Media omitted>' in i:
                count += 1
        inf_dict[name]=count
    name = max(inf_dict, key=inf_dict.get)
    name_df = df[df['User']==name]
    percent = (inf_dict[name]/name_df.shape[0])*100
    return name,round(percent,2), inf_dict[name]

In [56]:
influencer(df)

('Abhsihek Jen Svvv', 9.57, 54)

# Long Winded

In [57]:
def long_winded(df):
    df = df[df['User'] != 'group_notification']
    msg_len = []
    for i in df['Message']:
        msg_len.append(len(i))
    df['Message_len'] = msg_len
    new_df = df.sort_values(by=['Message_len'],ascending=False)
    name = new_df.iloc[0]['User']
    user_df = df[df['User']==name]
    avg_msg_len = int(user_df['Message_len'].mean())
    mean_character = user_df[user_df['Message_len'] > avg_msg_len]
    percentage = round((mean_character.shape[0] / user_df.shape[0])*100, 2)
    return name, avg_msg_len, percentage

In [58]:
long_winded(df)

C:\Users\lenovo\AppData\Local\Temp/ipykernel_17328/894688028.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Message_len'] = msg_len

('Abhsihek Jen Svvv', 20, 33.33)

# Professor

In [59]:
df.sample(15)

,Date,Time,User,Message,Year,Month,MonthNum,DayOfWeek,WeekNum,Day,DayName,Hour,Minute,Meridian
1249,2022-05-30,3:48 pm,Abhsihek Jen Svvv,collage man merji se deta hai,2022,May,5,0,22,30,Monday,3,48,PM
2410,2022-07-08,8:05 pm,Amit Svvv,tu bhe aai ga?,2022,July,7,4,27,8,Friday,8,05,PM
345,2022-02-05,12:15 pm,Abbas,This message was deleted,2022,February,2,5,5,5,Saturday,12,15,PM
3601,2022-08-09,11:52 am,Atman Svvv,Ha kal h,2022,August,8,1,32,9,Tuesday,11,52,AM
1382,2022-01-06,1:10 pm,Charchil Garg,Kesa dost hai yr tu,2022,January,1,3,1,6,Thursday,1,10,PM
3581,2022-06-09,6:04 pm,Aashtha Svvv,October ki bt ho rhj,2022,June,6,3,23,9,Thursday,6,04,PM
2120,2022-07-23,8:22 pm,Anil Svvv,<Media omitted>,2022,July,7,5,29,23,Saturday,8,22,PM
157,2022-04-28,10:36 pm,Abbas,"*IOT Assignment* Keep with you, When required ...",2022,April,4,3,17,28,Thursday,10,36,PM
16,2022-04-25,8:52 pm,Amisha Shukla Svvv,Ok,2022,April,4,0,17,25,Monday,8,52,PM
3035,2022-08-25,1:05 pm,+91 97553 64437,Link kaha h,2022,August,8,3,34,25,Thursday,1,05,PM
2531,2022-11-08,8:41 pm,Deepak Svvv,700rs ka certificate,2022,November,11,1,45,8,Tuesday,8,41,PM
2449,2022-07-08,9:57 pm,Ashvin Birla,Nnnnn,2022,July,7,4,27,8,Friday,9,57,PM
3323,2022-08-27,3:48 pm,Abhsihek Jen Svvv,so with application sign by class teacher you ...,2022,August,8,5,34,27,Saturday,3,48,PM
3921,2022-12-09,12:53 am,Abbas,Haa,2022,December,12,4,49,9,Friday,12,53,AM
497,2022-04-05,1:15 am,Abbas,üòÇ,2022,April,4,1,14,5,Tuesday,1,15,AM

# Emoji Lover

In [60]:
def emojized_user(df):
    df=df[df['User']!='group_notification']
    emoji_user = {}
    new_df = df.groupby(['User'])
    for i in df['User'].unique():
        count = 0
        group = new_df.get_group(i)
        for j in group['Message']:
            for k in j:
                if emoji.is_emoji(k):
                    count += 1
        emoji_user[i]=count   
    name = max(emoji_user, key=emoji_user.get)
    total = emoji_user.values()
    percent = round((emoji_user[name]/sum(total))*100, 2)
    return name, percent

In [61]:
emojized_user(df)

('Anmol Svvv', 18.74)

# Early Bird

In [62]:
def early_bird(df, format):
    new_df = df[df['User']!='group_notification']
    if format == '12 Hour':
        new_df = new_df[((new_df['Meridian'] == 'AM') & (pd.to_numeric(new_df['Hour']) > 7)) | (new_df['Meridian'] == 'PM')]
    elif format == '24 Hour':
        new_df = df[pd.to_numeric(df['Hour']) > 7]
    user = new_df['User'].value_counts()
    username = user.index[0]
    avg_msg = round(user[username]/len(new_df)*100, 2)
    return username, avg_msg

In [64]:
early_bird(df, '12 Hour')

('Abhsihek Jen Svvv', 13.53)

In [65]:
early_bird(df, '24 Hour')

('Abhsihek Jen Svvv', 13.5)

# Night Owl

In [66]:
def night_owl(df, format):
    new_df = df[df['User']!='group_notification']
    if format == '12 Hour':
        new_df = new_df[((new_df['Meridian'] == 'AM') & (pd.to_numeric(new_df['Hour']) < 7)) | (new_df['Meridian'] == 'PM')]
    elif format == '24 Hour':
        new_df = new_df[(pd.to_numeric(new_df['Hour']) < 6) | (pd.to_numeric(new_df['Hour']) > 11)]
    user = new_df['User'].value_counts()
    username = user.index[0]
    avg_msg = round(user[username]/len(new_df)*100, 2)
    return username, avg_msg

In [67]:
night_owl(df, '12 Hour')

('Abhsihek Jen Svvv', 13.83)

In [68]:
night_owl(df, '24 Hour')

('Abhsihek Jen Svvv', 11.97)

# Most Shared Links

In [79]:
def get_urls(df, selected_user):
    if selected_user != 'Overall':
        df = df[df['User'] == selected_user]
    df = df[df['User'] != 'group_notification']
    urls_list = []
    url = []
    for i in df['Message']:
        o = re.findall('(https://.*)|(http://.*)',i)
        if len(o) != 0:
            urls_list.append(o[0][0].split(' ')[0])
    if len(urls_list) != 0:
        for i in urls_list:
            o = re.search('.*[.](com|net|org|edu|gov|mil|aero|asia|biz|cat|coop|info|int|jobs|mobi|museum|name|post|pro|tel|travel|xxx|ac|ad|ae|af|ag|ai|al|am|an|ao|aq|ar|as|at|au|aw|ax|az|ba|bb|bd|be|bf|bg|bh|bi|bj|bm|bn|bo|br|bs|bt|bv|bw|by|bz|ca|cc|cd|cf|cg|ch|ci|ck|cl|cm|cn|co|cr|cs|cu|cv|cx|cy|cz|dd|de|dj|dk|dm|do|dz|ec|ee|eg|eh|er|es|et|eu|fi|fj|fk|fm|fo|fr|ga|gb|gd|ge|gf|gg|gh|gi|gl|gm|gn|gp|gq|gr|gs|gt|gu|gw|gy|hk|hm|hn|hr|ht|hu|id|ie|il|im|in|io|iq|ir|is|it|je|jm|jo|jp|ke|kg|kh|ki|km|kn|kp|kr|kw|ky|kz|la|lb|lc|li|lk|lr|ls|lt|lu|lv|ly|ma|mc|md|me|mg|mh|mk|ml|mm|mn|mo|mp|mq|mr|ms|mt|mu|mv|mw|mx|my|mz|na|nc|ne|nf|ng|ni|nl|no|np|nr|nu|nz|om|pa|pe|pf|pg|ph|pk|pl|pm|pn|pr|ps|pt|pw|py|qa|re|ro|rs|ru|rw|sa|sb|sc|sd|se|sg|sh|si|sj|Ja|sk|sl|sm|sn|so|sr|ss|st|su|sv|sx|sy|sz|tc|td|tf|tg|th|tj|tk|tl|tm|tn|to|tp|tr|tt|tv|tw|tz|ua|ug|uk|us|uy|uz|va|vc|ve|vg|vi|vn|vu|wf|ws|ye|yt|yu|za|zm|zw)',i)
            if o != None:
                url.append(o.group())
        url_df = pd.DataFrame(Counter(url).most_common(len(Counter(url))), columns=['Urls', 'Count'])
        return url_df
    else:
        return pd.DataFrame()

In [80]:
get_urls(df, 'Overall')

                                                 Urls  Count
0                         https://teams.microsoft.com     13
1                             https://docs.google.com      6
2                                    https://forms.gl      5
3                           https://chat.whatsapp.com      4
4                        https://www.researchgate.net      1
5   https://www.tutorialspoint.com/matlab/matlab_e...      1
6                             https://maps.app.goo.gl      1
7                                      https://bit.ly      1
8                                 https://www.tcs.com      1
9                             https://meet.google.com      1
10                                https://youtube.com      1
11                          https://www.instagram.com      1
12                                   https://youtu.be      1
13                                https://planful.com      1
14                            https://www.youtube.com      1

# Most Shared Emojis

In [81]:
def get_emojis(selected_user, df):
    if selected_user != 'Overall':
        df = df[df['User'] == selected_user]
    emojis = []
    description = []
    for message in df['Message']:
        all_emoji = emoji.distinct_emoji_list(message)
        emojis.extend([emoji.emojize(is_emoji) for is_emoji in all_emoji])
    emoji_df = pd.DataFrame(Counter(emojis).most_common(len(Counter(emojis))), columns=['Emoji', 'Count'])
    for i in emoji_df['Emoji']:
        description.append(emoji.demojize(i))
    emoji_df['Description'] = description
    emoji_df['Description'] = emoji_df['Description'].apply(lambda x: x.strip(':'))
    emoji_df['EmojiDescription'] = emoji_df['Emoji'] + ' - ' + emoji_df['Description']
    return emoji_df

In [82]:
get_emojis('Overall', df)

,Emoji,Count,Description,EmojiDescription
0,üòÇ,147,face_with_tears_of_joy,üòÇ - face_with_tears_of_joy
1,ü§£,95,rolling_on_the_floor_laughing,ü§£ - rolling_on_the_floor_laughing
2,üòÖ,57,grinning_face_with_sweat,üòÖ - grinning_face_with_sweat
3,üôÇ,34,slightly_smiling_face,üôÇ - slightly_smiling_face
4,üëç,26,thumbs_up,üëç - thumbs_up
...,...,...,...,...
93,üò®,1,fearful_face,üò® - fearful_face
94,üíÉ,1,woman_dancing,üíÉ - woman_dancing
95,üçá,1,grapes,üçá - grapes
96,üí§,1,zzz,üí§ - zzz
97,üò±,1,face_screaming_in_fear,üò± - face_screaming_in_fear

# Hourly Timeline

In [67]:
def hourly_timeline(selected_user, df, format):
  if selected_user != 'Overall':
    df = df[df['User'] == selected_user]
  new_df = df[df['User'] != 'group_notification']
  
  new_df['Message'] = [1] * new_df.shape[0]
  if format == '12 Hour':
    new_df['Hour'] = new_df['Hour'].apply(lambda x: ('0'+str(x)) if (len(x)<2) else x )
    new_df['Hour'] = new_df['Meridian'].astype(str) + ' ' + new_df['Hour'].astype(str) 
    new_df = new_df.groupby('Hour').sum().reset_index()
  else:
    new_df = new_df.groupby('Hour').sum().reset_index()
  return new_df

In [68]:
hourly_timeline('Overall', df, '12 Hour')

C:\Users\lenovo\AppData\Local\Temp/ipykernel_11312/1366137675.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Message'] = [1] * new_df.shape[0]
C:\Users\lenovo\AppData\Local\Temp/ipykernel_11312/1366137675.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Hour'] = new_df['Hour'].apply(lambda x: ('0'+str(x)) if (len(x)<2) else x )
C:\Users\lenovo\AppData\Local\Temp/ipykernel_11312/1366137675.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Hour'] = new_df['Meridian'].astype(str) + ' ' + new_df['Hour'].astype(str)

     Hour  Message    Year  MonthNum  DayOfWeek  WeekNum   Day
0   AM 01       14   28308        97         55      395   260
1   AM 02        3    6066        18         10       77    85
2   AM 03        5   10110        31         28      129   128
3   AM 04        1    2022         6          3       22     2
4   AM 07        2    4044        12          6       46    18
5   AM 08       14   28308        97         31      408   322
6   AM 09       44   88968       294        243     1136   462
7   AM 10       49   99078       303        158     1215   804
8   AM 11      103  208266       721        256     2885  1347
9   AM 12       22   44484       141         89      584   497
10  PM 01      196  396312      1241        549     4686  1010
11  PM 02       68  137496       460        226     1830   919
12  PM 03      115  232530       715        302     2852  1710
13  PM 04       70  141540       437        190     1749  1083
14  PM 05       98  198156       701        174     2764   904
15  PM 06       39   78858       266        154     1037   404
16  PM 07       28   56616       184        110      728   385
17  PM 08      141  285102      1059        502     4184  1451
18  PM 09      116  234552       817        405     3310  1922
19  PM 10       60  121320       440        176     1737   596
20  PM 11      101  204222       698        326     2857  1886
21  PM 12      153  309366      1014        363     3960  1448

# Daily Timeline

In [85]:
def daily_timeline(selected_user, df):
  if selected_user != 'Overall':
    df = df[df['User'] == selected_user]
  new_df = df[df['User'] != 'group_notification']
  new_df = new_df.groupby('Date')['Message'].count().reset_index()
  return new_df

In [86]:
daily_timeline('Overall', df)

          Date  Message
0   2022-01-05       29
1   2022-01-06      172
2   2022-01-07        6
3   2022-01-09       14
4   2022-02-05       33
..         ...      ...
113 2022-11-09       53
114 2022-12-05       17
115 2022-12-06       29
116 2022-12-08       23
117 2022-12-09      355

[118 rows x 2 columns]

# Weekly Timeline

In [617]:
def weekly_timeline(selected_user, df):
  if selected_user != 'Overall':
    df = df[df['User'] == selected_user]
  new_df = df[df['User'] != 'group_notification']
  new_df  = df.groupby(['Year','Month','WeekNum'], sort=False)['Message'].count().reset_index()
  week = []
  for i in range(len(new_df)):
    week.append(str(new_df['WeekNum'][i]) + " - " + new_df['Month'][i] + " - " + str(new_df['Year'][i]))
  new_df['Week'] = week
  new_df['Week'] = new_df[['WeekNum', 'Week']].apply(lambda x: "Week 0"+x['Week'] if x['WeekNum']<10 else "Week "+x['Week'], axis=1)
  new_df.sort_values(['WeekNum', 'Month', 'Year'], inplace=True)
  return new_df

In [618]:
weekly_timeline('Overall', df)

    Year      Month  WeekNum  Message                        Week
1   2022    January        1      225    Week 01 - January - 2022
2   2022   February        5       42   Week 05 - February - 2022
20  2022   February        6       77   Week 06 - February - 2022
3   2022      March        9      114      Week 09 - March - 2022
21  2022      March       10      112      Week 10 - March - 2022
4   2022      April       14      210      Week 14 - April - 2022
0   2022      April       17      291      Week 17 - April - 2022
5   2022        May       18       65        Week 18 - May - 2022
13  2022        May       19      149        Week 19 - May - 2022
14  2022        May       20      185        Week 20 - May - 2022
15  2022        May       21      185        Week 21 - May - 2022
6   2022       June       22        6       Week 22 - June - 2022
16  2022        May       22       42        Week 22 - May - 2022
22  2022       June       23       38       Week 23 - June - 2022
17  2022       June       24       53       Week 24 - June - 2022
18  2022       June       25       23       Week 25 - June - 2022
19  2022       June       26       97       Week 26 - June - 2022
7   2022       July       27      124       Week 27 - July - 2022
23  2022       July       28       15       Week 28 - July - 2022
24  2022       July       29      126       Week 29 - July - 2022
25  2022       July       30       37       Week 30 - July - 2022
8   2022     August       31      128     Week 31 - August - 2022
26  2022     August       32       31     Week 32 - August - 2022
28  2022     August       33      120     Week 33 - August - 2022
29  2022     August       34      645     Week 34 - August - 2022
30  2022     August       35       24     Week 35 - August - 2022
9   2022  September       36      175  Week 36 - September - 2022
31  2022  September       37      123  Week 37 - September - 2022
10  2022    October       40      220    Week 40 - October - 2022
11  2022   November       44       24   Week 44 - November - 2022
27  2022   November       45       68   Week 45 - November - 2022
12  2022   December       49      427   Week 49 - December - 2022

In [449]:
weekly_timeline('+91 6239 413 783', df)

    Year      Month  WeekNum  Message                        Week
9   2021    January        1        1     Week 2 - January - 2020
0   2020    January        2        2   Week 51 - December - 2020
7   2021   February        5        1   Week 52 - December - 2020
5   2021      March       12        1        Week 17 - May - 2021
6   2021      April       16        4       Week 22 - June - 2021
3   2021        May       17        1      Week 12 - March - 2021
4   2021       June       22        1      Week 16 - April - 2021
13  2021       June       23        1    Week 5 - February - 2021
8   2021       June       24        5       Week 24 - June - 2021
11  2021  September       37        1     Week 1 - January - 2021
10  2021    October       40        1    Week 40 - October - 2021
12  2021   November       47        1  Week 37 - September - 2021
1   2020   December       51        2   Week 47 - November - 2021
2   2020   December       52        4       Week 23 - June - 2021

# Monthly Timeline

In [632]:
def monthly_timeline(selected_user, df):
    if selected_user != 'Overall':
      df = df[df['User'] == selected_user]
    new_df = df[df['User'] != 'group_notification']
    new_df  = df.groupby(['Year','Month','MonthNum'], sort=False)['Message'].count().reset_index()
    month = []
    for i in range(new_df.shape[0]):
        month.append(str(new_df['MonthNum'][i]) + " - " + new_df['Month'][i] + " - " + str(new_df['Year'][i]))
    new_df['Months'] = month
    new_df['Months'] = new_df[['MonthNum', 'Months']].apply(lambda x: "Month 0"+x['Months'] if x['MonthNum']<10 else "Month "+x['Months'], axis=1)
    new_df.sort_values(['MonthNum', 'Year'], inplace=True)
    return new_df

In [633]:
monthly_timeline('Overall', df)

    Year      Month  MonthNum  Message                       Months
1   2022    January         1      225    Month 01 - January - 2022
2   2022   February         2      119   Month 02 - February - 2022
3   2022      March         3      226      Month 03 - March - 2022
0   2022      April         4      501      Month 04 - April - 2022
4   2022        May         5      626        Month 05 - May - 2022
5   2022       June         6      217       Month 06 - June - 2022
6   2022       July         7      302       Month 07 - July - 2022
7   2022     August         8      948     Month 08 - August - 2022
8   2022  September         9      298  Month 09 - September - 2022
9   2022    October        10      220    Month 10 - October - 2022
10  2022   November        11       92   Month 11 - November - 2022
11  2022   December        12      427   Month 12 - December - 2022

# Most Busy Day

In [611]:
def most_busy_day(selected_user, df):
  if selected_user != 'Overall':
    df = df[df['User'] == selected_user]
  new_df = df[df['User'] != 'group_notification']
  
  new_df = new_df.groupby(['DayName', 'DayOfWeek'], sort=False)['Message'].count().reset_index()
  new_df.sort_values('DayOfWeek', inplace=True)
  new_df['Days'] = new_df['DayOfWeek'].astype(str) + " - " + new_df['DayName']
  return new_df

In [612]:
most_busy_day('Overall', df)

     DayName  DayOfWeek  Message           Days
0     Monday          0      655     0 - Monday
1    Tuesday          1      500    1 - Tuesday
2  Wednesday          2      586  2 - Wednesday
3   Thursday          3      688   3 - Thursday
4     Friday          4     1025     4 - Friday
5   Saturday          5      423   5 - Saturday
6     Sunday          6      252     6 - Sunday

# Most Busy Month

In [626]:
def most_busy_month(selected_user, df):
  if selected_user != 'Overall':
    df = df[df['User'] == selected_user]
  new_df = df[df['User'] != 'group_notification']
  
  new_df = new_df.groupby(['MonthNum', 'Month'], sort=False)['Message'].count().reset_index()
  new_df.sort_values('MonthNum', inplace=True)
  new_df['Months'] = new_df['MonthNum'].astype(str) + " - " + new_df['Month']
  new_df['Months'] = new_df[['MonthNum', 'Months']].apply(lambda x: "Month 0"+x['Months'] if x['MonthNum']<10 else "Month "+x['Months'], axis=1)
  return new_df

In [627]:
most_busy_month('Overall', df)
# temp['Months']

    MonthNum      Month  Message                Months
1          1    January      221    Month 01 - January
2          2   February      119   Month 02 - February
3          3      March      223      Month 03 - March
0          4      April      482      Month 04 - April
4          5        May      614        Month 05 - May
5          6       June      216       Month 06 - June
6          7       July      299       Month 07 - July
7          8     August      924     Month 08 - August
8          9  September      297  Month 09 - September
9         10    October      218    Month 10 - October
10        11   November       92   Month 11 - November
11        12   December      424   Month 12 - December

# User Chat Percentage

In [132]:
def user_chat_percentage(df):
    df = df[df['User'] != 'group_notification']
    user = df['User'].value_counts()
    new_df = pd.DataFrame ({ 'User': user.index, 'Message': user})
    new_df['Percentage'] = new_df['Message'].apply(lambda x: round(x/len(df)*100, 2))
    new_df['User'] = new_df['Percentage'].astype(str) + "% - " + new_df['User']
    new_df.drop('Message', axis=1, inplace=True)
    new_df.reset_index(drop=True,inplace=True)
    return new_df

In [133]:
user_chat_percentage(df)

                            User  Percentage
0      15.07% - Clg Ashvin birla       15.07
1     11.49% - Clg Abhishek Jain       11.49
2     9.11% - Clg Kushagra Ahire        9.11
3        8.55% - Clg Amit Pandey        8.55
4      8.27% - Clg Abbas Amjhera        8.27
5           4.13% - Clg Divyansh        4.13
6           4.13% - Clg Charchil        4.13
7        3.92% - Clg Anmol Joshi        3.92
8        3.36% - +91 96309 40258        3.36
9        3.08% - +91 72409 15291        3.08
10      2.87% - Clg Ankit Bhalot        2.87
11        2.17% - Clg Anil nagar        2.17
12       2.1% - Clg Garv Chouhan        2.10
13       2.03% - Clg Deepak Sahu        2.03
14       1.96% - Clg Ankit Patel        1.96
15      1.82% - Clg harshvardhan        1.82
16            1.75% - Clg Govind        1.75
17     1.47% - Clg Gopala Sharma        1.47
18      1.12% - Clg Ankit Torani        1.12
19             1.12% - Clg Atman        1.12
20    1.05% - Clg Aaditya Mishra        1.05
21       0.84% - +91 87705 37687        0.84
22   0.84% - Clg Anirudh Agrawal        0.84
23   0.84% - Clg Akshat Khujneri        0.84
24       0.77% - +91 96857 80227        0.77
25         0.77% - Anshul Sharma        0.77
26           0.7% - Clg Aman Rai        0.70
27         0.63% - Clg Rahul Rai        0.63
28  0.56% - Clg Kushagra Krishna        0.56
29     0.49% - Clg Achyut Sudele        0.49
30       0.35% - +91 72248 82210        0.35
31         0.35% - Clg Durganshi        0.35
32      0.35% - +91 6239 413 783        0.35
33    0.28% - Clg Anushka Porwal        0.28
34         0.28% - Clg Ali Asgar        0.28
35   0.28% - Clg Bhanu Choudhary        0.28
36      0.21% - Clg Ayush pandya        0.21
37         0.21% - Clg Aranjeeta        0.21
38           0.14% - Clg Devshee        0.14
39            0.14% - Clg Amisha        0.14
40     0.14% - Clg Chirag Tiwari        0.14
41     0.07% - Clg Ayush chouhan        0.07
42     0.07% - Clg Rishika Gupta        0.07
43         0.07% - Clg Rishikesh        0.07

# Most Common Word

In [11]:
def most_common_words(selected_user, df):
  if selected_user != 'Overall':
    df = df[df['User'] == selected_user]
  new_df = df[df['User'] != 'group_notification']
  new_df = new_df[~new_df['Message'].str.contains('<Media omitted>')]
  f = open('stop_hinglish.txt')
  stop_words = f.read()

  words = []

  for message in new_df['Message']:
    message = re.sub('[^A-Za-z\s]','',message)
    if message == '':
        pass
    else:
        for word in message.lower().split():
            if word not in stop_words:
                words.append(word)
  
  most_common_df = pd.DataFrame(Counter(words).most_common(20), columns=['Message', 'Count'])
  most_common_df.sort_values('Count')
  return most_common_df

In [12]:
most_common_words('Overall', df)

    Message  Count
0   message     70
1   deleted     67
2       tcs     43
3      form     29
4      jain     25
5      mail     20
6     drive     20
7     apply     19
8   digital     19
9    option     17
10      gya     17
11  college     17
12    ninja     17
13    class     16
14     test     15
15      clg     14
16    batch     13
17    paper     12
18    abbas     12
19     mene     12

# Word Cloud

In [274]:
def create_wordcloud(selected_user, df):
  if selected_user != 'Overall':
    df = df[df['User'] == selected_user]
  new_df = df[df['User'] != 'group_notification']
  new_df = new_df[new_df['Message'] != '<Media omitted>\n']
  
  f = open('stop_hinglish.txt')
  stop_words = f.read()

  def remove_stop_words(message):
    y = []
    for word in message.lower().split():
      if word not in stop_words:
        y.append(word)
    return " ".join(y)

  wc = WordCloud(width=500, height=500, min_font_size=10)
  new_df['Message'] = new_df['Message'].apply(remove_stop_words)
  df_wc = wc.generate(new_df['Message'].str.cat(sep=" "))
  return df_wc

In [275]:
create_wordcloud('Overall', df)

In [406]:
pd.to_datetime('25-04-2022')

Timestamp('2022-04-25 00:00:00')

# Sentimental Analysis

# Generating Words.xlsx

In [21]:
def remove_emojis(data):
    return emoji.demojize(data)

In [6]:
new_df = df[df['User']!='group_notification']
new_df = new_df[new_df['Message']!='<Media omitted> ']
new_df = new_df[new_df['Message']!='This message was deleted'] 
# new_df['Message'] = new_df['Message'].apply(remove_emojis)

In [7]:
new_df

,Date,Time,User,Message,Year,Month,MonthNum,DayOfWeek,WeekNum,Day,DayName,Hour,Minute,Meridian
1,2022-05-26,7:21 PM,Clg Divyansh,Robotics ke notes,2022,May,5,3,21,26,Thursday,7,21,PM
2,2022-05-26,7:44 PM,Clg Kushagra Ahire,MST me jo numerical aaye the uske solution bhe...,2022,May,5,3,21,26,Thursday,7,44,PM
4,2022-05-26,8:05 PM,+91 6239 413 783,Bhai notes bhej do yrr koi üôèüèª,2022,May,5,3,21,26,Thursday,8,05,PM
5,2022-05-26,8:05 PM,Clg Kushagra Ahire,mail pe dekh,2022,May,5,3,21,26,Thursday,8,05,PM
6,2022-05-26,8:05 PM,Clg Kushagra Ahire,mam ne bheje hai bahut saare notes,2022,May,5,3,21,26,Thursday,8,05,PM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1451,2022-08-18,2:00 PM,Clg Divyansh,Yess,2022,August,8,3,33,18,Thursday,2,00,PM
1452,2022-08-18,2:01 PM,Clg Charchil,ü§ö,2022,August,8,3,33,18,Thursday,2,01,PM
1453,2022-08-18,2:01 PM,+91 87705 37687,‚úãüèª,2022,August,8,3,33,18,Thursday,2,01,PM
1454,2022-08-18,2:15 PM,Clg Atman,üôã‚Äç‚ôÇÔ∏è,2022,August,8,3,33,18,Thursday,2,15,PM
1456,2022-08-18,2:56 PM,+91 72409 15291,Sab aadhar card yaa college I'd card saath me ...,2022,August,8,3,33,18,Thursday,2,56,PM

In [8]:
import stemmer

In [19]:
def text_transformation(words_list):
    corpus = []
    myStemmer = stemmer.Stemmer()
    for item in words_list:
        new_item = item.lower()
        new_item = re.sub('[^a-z]',' ', str(new_item))
        if ('https://' or 'http://') in new_item:
            pass
        else:
            new_item = new_item.split()
            for i in new_item:
                i = myStemmer.stemWord(i)
                if len(i)>1:
                    corpus.append(re.sub('[^a-z]','', i))
    return list(set(corpus))

In [20]:
words = text_transformation(new_df['Message'])
words.sort()
words

['ab',
 'abas',
 'abe',
 'abhi',
 'abhisbek',
 'abhishek',
 'about',
 'above',
 'abr',
 'abstract',
 'abto',
 'acha',
 'ache',
 'achi',
 'achr',
 'achut',
 'achyut',
 'acording',
 'acordingly',
 'acropolis',
 'activity',
 'ad',
 'adhar',
 'adres',
 'advance',
 'advanced',
 'ae',
 'aega',
 'afe',
 'after',
 'agar',
 'agaya',
 'age',
 'agle',
 'agre',
 'agya',
 'ai',
 'aise',
 'aishvarya',
 'aishwariyanhi',
 'aj',
 'aja',
 'ajao',
 'ajata',
 'ajayega',
 'ajenge',
 'akhain',
 'akhiri',
 'al',
 'alag',
 'alawa',
 'alg',
 'algebra',
 'alow',
 'also',
 'alvid',
 'alvida',
 'am',
 'amazon',
 'ambasador',
 'ameting',
 'amit',
 'ana',
 'and',
 'andar',
 'android',
 'ane',
 'ang',
 'ankit',
 'ans',
 'anshul',
 'any',
 'anybody',
 'ao',
 'aoc',
 'ap',
 'apan',
 'apear',
 'apke',
 'apko',
 'aplication',
 'aplied',
 'aply',
 'apn',
 'apna',
 'apne',
 'apni',
 'aproval',
 'apti',
 'aptitude',
 'ar',
 'ara',
 'aray',
 'arays',
 'archana',
 'architecture',
 'are',
 'arey',
 'art',
 'as',
 'asa',
 'asap',
 'ase',
 'ashvin',
 'ashwin',
 'asign',
 'asignment',
 'ask',
 'at',
 'ata',
 'atached',
 'atb',
 'ate',
 'atend',
 'atendance',
 'atendence',
 'ati',
 'atma',
 'au',
 'aug',
 'auga',
 'aunga',
 'aur',
 'available',
 'aw',
 'awaz',
 'aws',
 'aya',
 'aye',
 'ayega',
 'ayege',
 'ayegi',
 'ayi',
 'azure',
 'babe',
 'bach',
 'bachcha',
 'bache',
 'bacho',
 'bad',
 'badhai',
 'badhayi',
 'bag',
 'bahana',
 'bahna',
 'bahul',
 'bahut',
 'bail',
 'baitha',
 'baje',
 'bake',
 'baki',
 'balam',
 'ban',
 'bana',
 'banana',
 'banane',
 'banba',
 'bane',
 'banega',
 'bank',
 'bar',
 'barclays',
 'bare',
 'bariya',
 'barme',
 'barna',
 'bas',
 'based',
 'basis',
 'bat',
 'bata',
 'batao',
 'batch',
 'batched',
 'batches',
 'bc',
 'bche',
 'bcho',
 'bd',
 'bda',
 'bdiya',
 'be',
 'beb',
 'because',
 'bechara',
 'becoming',
 'before',
 'behind',
 'ben',
 'best',
 'beth',
 'bethke',
 'bethne',
 'bhagwan',
 'bhai',
 'bhaiya',
 'bhalot',
 'bhandare',
 'bhar',
 'bhara',
 'bharaya',
 'bharde',
 'bhari',
 'bharke',
 'bharna',
 'bharo',
 'bhatak',
 'bhaut',
 'bhe',
 'bhej',
 'bheja',
 'bheje',
 'bhejenge',
 'bhejo',
 'bhi',
 'bhjde',
 'bhjna',
 'bhjo',
 'bhn',
 'bhopal',
 'bhot',
 'bhr',
 'bhul',
 'bhut',
 'bich',
 'bike',
 'bilkul',
 'bin',
 'biranga',
 'birth',
 'bit',
 'bje',
 'bki',
 'bkr',
 'block',
 'bna',
 'bnake',
 'bnd',
 'bnega',
 'board',
 'body',
 'bol',
 'bola',
 'bole',
 'boli',
 'bolna',
 'bolne',
 'bolo',
 'bolta',
 'bolte',
 'bombay',
 'bond',
 'both',
 'br',
 'bro',
 'browser',
 'brsi',
 'bs',
 'bt',
 'bta',
 'btadega',
 'btana',
 'btao',
 'btate',
 'btaya',
 'btayega',
 'btcs',
 'btit',
 'btn',
 'budy',
 'bumblebe',
 'bura',
 'bus',
 'but',
 'by',
 'byjus',
 'cab',
 'cal',
 'calender',
 'calm',
 'campus',
 'can',
 'cancel',
 'candidate',
 'candidates',
 'card',
 'carers',
 'case',
 'cases',
 'caste',
 'cb',
 'cbad',
 'cbse',
 'center',
 'centers',
 'centre',
 'certificate',
 'cf',
 'cgpa',
 'chad',
 'chahiye',
 'chain',
 'chaiye',
 'chakr',
 'chakraborty',
 'chakrawarti',
 'chal',
 'chalo',
 'chanel',
 'charchil',
 'chat',
 'cheating',
 'chinta',
 'chirag',
 'chitingbazi',
 'chitiya',
 'chiye',
 'chla',
 'chle',
 'chlra',
 'chlte',
 'chod',
 'chomu',
 'chor',
 'chose',
 'chot',
 'chota',
 'choubey',
 'chrchil',
 'chup',
 'chuti',
 'chutiya',
 'chutiye',
 'cj',
 'clarified',
 'clas',
 'clases',
 'clear',
 'clearly',
 'clg',
 'click',
 'clint',
 'close',
 'cloud',
 'cm',
 'code',
 'coding',
 'cognitive',
 'colage',
 'colege',
 'coleges',
 'color',
 'com',
 'comence',
 'compani',
 'company',
 'complaint',
 'complete',
 'completion',
 'computing',
 'conduct',
 'conect',
 'confirm',
 'congrats',
 'congratulation',
 'congratulations',
 'consider',
 'contact',
 'context',
 'controls',
 'conversation',
 'copy',
 'cordinator',
 'corect',
 'corection',
 'corner',
 'cortana',
 'count',
 'course',
 'cpshd',
 'cr',
 'crying',
 'cse',
 'ctc',
 'curent',
 'cv',
 'daba',
 'dai',
 'daina',
 'dal',
 'dala',
 'dale',
 'dalti',
 'dana',
 'data',
 'date',
 'day',
 'days',
 'dbms',
 'dc',
 'dcla',
 'de',
 'dear',
 'december',
 'decision',
 'declaration',
 'dedo',
 'dega',
 'dege',
 'degi',
 'deive',
 'dekar',
 'dekh',
 'dekhna',
 'dekho',
 'deleted',
 'demise',
 'demo',
 'dena',
 'dene',
 'denga',
 'denge',
 'depak',
 'deri',
 'desire',
 'destination',
 'destroyed',
 'deta',
 'details',
 'dete',
 'detection',
 'deti',
 'dewas',
 'df',
 'dfnana',
 'dhafnane',
 'dhakad',
 'dhanyawad',
 'dhika',
 'di',
 'diabetes',
 'didn',
 'diferent',
 'dificult',
 'dig',
 'digital',
 'dikat',
 'dikha',
 'dikhna',
 'din',
 'direct',
 'directorcrp',
 'discusing',
 'dismental',
 'displayed',
 'diya',
 'dkt',
 'dm',
 'do',
 'docs',
 'documents',
 'does',
 'doesn',
 'doge',
 'done',
 'dono',
 'dosre',
 'dost',
 'double',
 'dr',
 'draft',
 'draye',
 'drive',
 'ds',
 'dsa',
 'du',
 'dukan',
 'dukh',
 'dur',
 'duration',
 'dusare',
 'dusre',
 'dusri',
 'dusro',
 'duta',
 'e',
 'early',
 'easily',
 'easy',
 'ec',
 'ed',
 'edit',
 'edu',
 'efort',
 'ek',
 'eleglible',
 'eligible',
 'en',
 'end',
 'enginer',
 'english',
 'enroled',
 'entrepreneur',
 'entry',
 'equivalent',
 'er',
 'es',
 'esa',
 'eski',
 'esliye',
 'etc',
 'eucalyptus',
 'everyone',
 'exam',
 'exams',
 'excel',
 'experience',
 'extend',
 'external',
 'facing',
 'factorial',
 'faida',
 'fail',
 'failing',
 'faipqlschcwp',
 'faipqlseyi',
 'fake',
 'faltu',
 'fantasy',
 'farmhouse',
 'father',
 'fayda',
 'fc',
 'fe',
 'fel',
 'fevi',
 'field',
 'fil',
 'filal',
 'filed',
 'finalize',
 'fir',
 'first',
 'flod',
 'focus',
 'folow',
 'for',
 'forget',
 'form',
 'forms',
 'forward',
 'forwarding',
 'fr',
 'fraud',
 'fre',
 'fri',
 'friends',
 'further',
 'fviqjbwtsk',
 'ga',
 'gadbad',
 'gadi',
 'gai',
 'galat',
 'ganda',
 'gau',
 'gav',
 'gaya',
 'gaye',
 'gayi',
 'ge',
 'generation',
 'geometry',
 'gets',
 'gfg',
 'ghar',
 'ghnte',
 'ghum',
 'gi',
 'given',
 'gkxqlcnlxty',
 'gle',
 'glucose',
 'gmail',
 'gnda',
 'go',
 'gogle',
 'going',
 'golu',
 'got',
 'govind',
 'grace',
 'grade',
 'graph',
 'gren',
 'gretings',
 'groundtruth',
 'group',
 'groupid',
 'groups',
 'grp',
 'grup',
 'gt',
 'guarante',
 'guhv',
 'guide',
 'gulcose',
 'guru',
 'gya',
 'gyae',
 'gyai',
 'gyan',
 'gye',
 'gyi',
 'ha',
 'hah',
 'hai',
 'hain',
 'hal',
 'halat',
 'half',
 'hamare',
 'han',
 'hao',
 'hapens',
 'hapiest',
 'hapy',
 'hardcopy',
 'hardik',
 'harsh',
 'harshwardhan',
 'has',
 'hath',
 'hatori',
 'haw',
 'hbd',
 'he',
 'heart',
 'help',
 'helpline',
 'here',
 'hereby',
 'hexaware',
 'hi',
 'highest',
 'him',
 'hiring',
 'his',
 'hisab',
 'hm',
 'hmara',
 'hmare',
 'hmari',
 'hmesha',
 'hmko',
 'hn',
 'hnh',
 'ho',
 'hoga',
 'hoge',
 'hogi',
 'hogya',
 'hogyi',
 'hoja',
 'hojaga',
 'hokar',
 'home',
 'homogenity',
 'hona',
 'hone',
 'honga',
 'honge',
 'hora',
 'horahi',
 'hori',
 'hostel',
 'hota',
 'hote',
 'hoti',
 'hoto',
 'hour',
 'housing',
 'hr',
 'htp',
 'htps',
 'hu',
 'hua',
 'hue',
 'hui',
 'hum',
 'humara',
 'humare',
 'humdardi',
 'husn',
 'huva',
 'ibm',
 'icons',
 'id',
 'idea',
 'ideas',
 'idhar',
 'if',
 'imediately',
 'important',
 'in',
 'incenter',
 'included',
 'individualy',
 'indore',
 'industrial',
 'inform',
 'information',
 'informed',
 'inka',
 'inovative',
 'instructions',
 'intern',
 'internal',
 'interview',
 'into',
 'invest',
 'invited',
 'involved',
 'irc',
 'is',
 'ise',
 'isilea',
 'iska',
 'iske',
 'iski',
 'isko',
 'islea',
 'isliye',
 'isme',
 'ispe',
 'ist',
 'it',
 'itna',
 'itne',
 'its',
 'iv',
 'izgr',
 'ja',
 'jada',
 'jaega',
 'jaege',
 'jaenge',
 'jagat',
 'jai',
 'jain',
 'jake',
 'jaldi',
 'jana',
 'jane',
 'jaoge',
 'jaruri',
 'jata',
 'jauga',
 'java',
 'jayega',
 'jayege',
 'jayegi',
 'jayga',
 'jb',
 'jc',
 'je',
 'jesa',
 'jese',
 'jha',
 'jhamela',
 'jhoti',
 'ji',
 'jina',
 'jinda',
 'jinka',
 'jise',
 'jiska',
 'jisko',
 'jisne',
 'jit',
 'jitne',
 'jitni',
 'jldi',
 'jlege',
 'jo',
 'join',
 'joining',
 'joke',
 'jounior',
 'jrurat',
 'jse',
 'jul',
 'july',
 'june',
 'jyada',
 'ka',
 'kab',
 'kabhi',
 'kafi',
 'kaha',
 'kai',
 'kam',
 'kar',
 'kara',
 'karat',
 'karde',
 'kardenge',
 'kardi',
 'kardo',
 'kare',
 'karega',
 'karenge',
 'karke',
 'karle',
 'karn',
 'karna',
 'karne',
 'karo',
 'karta',
 'karunga',
 'karva',
 'karvayenge',
 'karwana',
 'karwatae',
 'karwate',
 'kash',
 'kb',
 'kbhi',
 'kbtk',
 'kch',
 'kdo',
 'ke',
 'kega',
 'kerala',
 'kero',
 'kerwa',
 'kesa',
 'kese',
 'kha',
 'khana',
 'khatam',
 'khi',
 'khrab',
 'khrcha',
 'khtm',
 'khud',
 'khudko',
 'ki',
 'kia',
 'kidney',
 'kina',
 'kind',
 'king',
 'kis',
 'kise',
 'kisi',
 'kisine',
 'kiske',
 'kismat',
 'kisme',
 'kismt',
 'kisne',
 'kispe',
 'kitne',
 'kiya',
 'kiye',
 'kl',
 'km',
 'kmjor',
 'ko',
 'koi',
 'koisi',
 'kon',
 'konsa',
 'konsq',
 'kr',
 'kra',
 'krdi',
 'krdiya',
 'krdo',
 'kre',
 'krega',
 'kregai',
 'krege',
 'kregi',
 'kri',
 'krishna',
 'krishnapa',
 'krke',
 'krlo',
 'krna',
 'krne',
 'krni',
 'kro',
 'krta',
 'krte',
 'krti',
 'kru',
 'krunga',
 'krva',
 'krvane',
 'krvate',
 'krvayege',
 'kse',
 'kuch',
 'kuche',
 'kushgra',
 'kusum',
 'ky',
 'kya',
 'kyki',
 'kyo',
 'kyu',
 'la',
 'lab',
 'lag',
 'laga',
 'lagana',
 'lagani',
 'lagegi',
 'lagta',
 'lagwa',
 'lai',
 'lakh',
 'lakshan',
 'lang',
 'last',
 'lava',
 'laya',
 'le',
 'learning',
 'lecture',
 'left',
 'lege',
 'lekin',
 'lena',
 'lene',
 'lenge',
 'lerha',
 'lete',
 'leti',
 'lg',
 'lga',
 'lge',
 'lgegi',
 'lha',
 'li',
 'lifeskils',
 'ligha',
 'like',
 'likes',
 'likh',
 'likha',
 'likhvate',
 'likhwate',
 'linear',
 'link',
 'linked',
 'links',
 'list',
 'liya',
 'liye',
 'lnmkumljk',
 'lo',
 'load',
 'loan',
 'location',
 'log',
 'login',
 'logo',
 'los',
 'love',
 'lpa',
 'luga',
 'lwflytqtngu',
 'ly',
 'ma',
 'machine',
 'made',
 'mae',
 'mahendra',
 'mahenga',
 'mahine',
 'mai',
 'mail',
 'maine',
 'majak',
 'major',
 'make',
 'mam',
 'man',
 'mana',
 'manager',
 'mandatory',
 'maners',
 'mang',
 'mangega',
 'mar',
 'marchod',
 ...]

In [21]:
words = pd.DataFrame(words, columns=['Word'])
words['Label'] = 1
words.to_excel("Temp.xlsx", index=False)

In [12]:
list1 = text_transformation(new_df['Message'])

In [18]:
list2 = text_transformation(new_df['Message'])

In [23]:
list3 = text_transformation(new_df['Message'])

In [28]:
list4 = text_transformation(new_df['Message'])

In [33]:
words = list(set(list1 + list2 + list3 + list4))
words.sort()

In [2]:
words = pd.DataFrame(words, columns=['Word'])
words['Label'] = 1
words.to_excel("Words.xlsx", index=False)

NameError: name 'words' is not defined

In [106]:
words_df = pd.read_excel('Words.xlsx')
words_df.sample(5)

           Word  Label
3463      kitne    1.0
521    badhaiya    1.0
3683      layga    1.0
5925      squad    1.0
5271  remaining    1.0

In [107]:
words_df.isnull().sum()

Word     1
Label    0
dtype: int64

In [108]:
words_df.dropna(inplace=True)

In [109]:
X = words_df['Word']
y = words_df['Label']

In [110]:
# from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [111]:
# X_train.shape, X_test.shape, y_train.shape, y_test.shape

In [112]:
corpus = []
# for word in X_train:
for word in X:
    corpus.append(str(word))
corpus

['ab',
 'abae',
 'abas',
 'abcd',
 'abd',
 'abdul',
 'abe',
 'abey',
 'abhai',
 'abhar',
 'abhe',
 'abhi',
 'abhinandan',
 'abhinayati',
 'abhisbek',
 'abhisek',
 'abhisex',
 'abhishek',
 'abhishekak',
 'abhishkeh',
 'abi',
 'able',
 'ablove',
 'about',
 'above',
 'abr',
 'absent',
 'abshiek',
 'absolutely',
 'abstract',
 'abstracting',
 'abstraction',
 'abto',
 'ac',
 'acad',
 'academic',
 'academics',
 'academy',
 'ace',
 'acelerating',
 'aceleration',
 'acelerator',
 'acept',
 'aceptable',
 'acepted',
 'acepting',
 'aceptional',
 'aces',
 'acfb',
 'acha',
 'achcha',
 'ache',
 'achi',
 'achr',
 'achut',
 'achuyut',
 'achyut',
 'acio',
 'acording',
 'acordingly',
 'acount',
 'acountability',
 'acquisition',
 'acropolis',
 'acros',
 'acses',
 'act',
 'action',
 'activate',
 'active',
 'activities',
 'activity',
 'ad',
 'ada',
 'adapters',
 'adat',
 'aded',
 'ader',
 'adha',
 'adhar',
 'adhe',
 'adhi',
 'adhwahvztyi',
 'adi',
 'ading',
 'aditya',
 'adjust',
 'admi',
 'admin',
 'administrative',
 'administrator',
 'admision',
 'admit',
 'admited',
 'adres',
 'adresed',
 'adv',
 'advance',
 'advanced',
 'advantage',
 'advertisement',
 'advised',
 'adwbhw',
 'ae',
 'aec',
 'aega',
 'aegi',
 'aehmbtviakz',
 'aenge',
 'af',
 'afair',
 'afe',
 'afidavit',
 'after',
 'afterward',
 'afterwards',
 'ag',
 'agai',
 'again',
 'agar',
 'agarwal',
 'agaya',
 'age',
 'agent',
 'agile',
 'agla',
 'agle',
 'agli',
 'agr',
 'agrawal',
 'agre',
 'agrement',
 'agya',
 'agye',
 'agyi',
 'ahgvu',
 'ahimsa',
 'ahir',
 'ahire',
 'ahmc',
 'ai',
 'aibm',
 'aims',
 'aisa',
 'aise',
 'aishe',
 'aishvarya',
 'aishwariyanhi',
 'aisi',
 'ai‚Ä¶',
 'aj',
 'aja',
 'ajae',
 'ajaega',
 'ajana',
 'ajao',
 'ajaraha',
 'ajata',
 'ajau',
 'ajaunga',
 'ajayega',
 'ajenge',
 'ajo',
 'ajogai',
 'ak',
 'akal',
 'akar',
 'akash',
 'ake',
 'akela',
 'akele',
 'akeli',
 'akhain',
 'akhiri',
 'akr',
 'akrna',
 'akshan',
 'akshat',
 'al',
 'alag',
 'alaram',
 'alava',
 'alawa',
 'alg',
 'algebra',
 'algorithm',
 'algorithms',
 'ali',
 'alibohra',
 'aligned',
 'alive',
 'almost',
 'alocation',
 'along',
 'alongside',
 'alot',
 'aloted',
 'alow',
 'alowe',
 'alowed',
 'alpesh',
 'alpeshsoni',
 'alpha',
 'alphabet',
 'already',
 'also',
 'alsolink',
 'altogether',
 'alu',
 'alvid',
 'alvida',
 'alwa',
 'always',
 'am',
 'aman',
 'amanrai',
 'amazing',
 'amazon',
 'ambasador',
 'ambriti',
 'amd',
 'ameting',
 'amisha',
 'amit',
 'amjhera',
 'amjherawala',
 'among',
 'amongst',
 'amount',
 'amp',
 'amplify',
 'amrata',
 'amrita',
 'an',
 'ana',
 'anahita',
 'analog',
 'analyser',
 'analysis',
 'analyzer',
 'anand',
 'anchor',
 'anchoring',
 'and',
 'andar',
 'andhe',
 'andhi',
 'andolan',
 'andr',
 'andriod',
 'android',
 'andva',
 'ane',
 'ang',
 'angle',
 'anil',
 'anirudh',
 'anirudha',
 'anjali',
 'ankhon',
 'ankit',
 'ankitbhalot',
 'anmol',
 'another',
 'anounce',
 'anounced',
 'anouncement',
 'anpadh',
 'ans',
 'ansari',
 'anshika',
 'anshu',
 'anshul',
 'anshuman',
 'answer',
 'answers',
 'anti',
 'antibiotic',
 'antiraging',
 'antivirus',
 'anual',
 'anushka',
 'anxious',
 'any',
 'anybody',
 'anytime',
 'ao',
 'aoc',
 'aoge',
 'aone',
 'ap',
 'apan',
 'apas',
 'apear',
 'apeared',
 'apearing',
 'aphi',
 'apk',
 'apka',
 'apke',
 'apki',
 'apko',
 'aplicable',
 'aplication',
 'aplications',
 'aplied',
 'aply',
 'aplying',
 'apn',
 'apna',
 'apnae',
 'apnai',
 'apne',
 'apni',
 'apoge',
 'apologies',
 'apostele',
 'aposteleducation',
 'apr',
 'apreciable',
 'apreciation',
 'april',
 'aproach',
 'aproaches',
 'aproch',
 'aproval',
 'aprove',
 'aprox',
 'aps',
 'apti',
 'aptitude',
 'apun',
 'ar',
 'ara',
 'arae',
 'arah',
 'araha',
 'arahe',
 'aram',
 'arangement',
 'arangements',
 'aranjeta',
 'aray',
 'arays',
 'archana',
 'archanasvits',
 'architecture',
 'archives',
 'arden',
 'ardent',
 'are',
 'area',
 'aren',
 'arevision',
 'arey',
 'arha',
 'arhae',
 'arhe',
 'arhi',
 'ari',
 'ariving',
 'arm',
 'around',
 'arow',
 'art',
 'artificial',
 'as',
 'asa',
 'asae',
 'asap',
 'ase',
 'asember',
 'asesment',
 'asg',
 'asgar',
 'asghar',
 'asgr',
 'asha',
 'ashirwad',
 'ashishsharma',
 'ashole',
 'ashta',
 'ashubirla',
 'ashvin',
 'ashvini',
 'ashwin',
 'aside',
 'asig',
 'asigment',
 'asign',
 'asigned',
 'asignment',
 'asignments',
 'asir',
 'ask',
 'asked',
 'asking',
 'asociation',
 'aspx',
 'astha',
 'astonished',
 'astro',
 'asume',
 'asvin',
 'asynchronous',
 'at',
 'ata',
 'atach',
 'atached',
 'atachment',
 'atachments',
 'atack',
 'ataindence',
 'atandence',
 'atb',
 'atd',
 'ate',
 'atemdence',
 'atempt',
 'atend',
 'atendance',
 'atende',
 'atendece',
 'atended',
 'atendenc',
 'atendence',
 'atending',
 'atention',
 'athlon',
 'ati',
 'atihe',
 'atishighra',
 'atitude',
 'atkt',
 'atkts',
 'atleast',
 'atm',
 'atma',
 'atman',
 'atom',
 'au',
 'audience',
 'audio',
 'audition',
 'auditorium',
 'aug',
 'auga',
 'augi',
 'august',
 'aukat',
 'aunga',
 'aungi',
 'aur',
 'aurat',
 'authuser',
 'auto',
 'autocorect',
 'automatic',
 'automaticaly',
 'avadhesh',
 'availability',
 'available',
 'avardhan',
 'avdesh',
 'avdeshsharma',
 'avdhesh',
 'avedesh',
 'average',
 'avg',
 'avgtdpew',
 'avoid',
 'avr',
 'aw',
 'awaj',
 'award',
 'aware',
 'away',
 'awaz',
 'aws',
 'awt',
 'ax',
 'axis',
 'aya',
 'ayahi',
 'aye',
 'ayega',
 'ayege',
 'ayegi',
 'ayenge',
 'ayga',
 'aygai',
 'ayi',
 'ayush',
 'azure',
 'a‚Ä¶',
 'ba',
 'baba',
 'babe',
 'bach',
 'bacha',
 'bachcha',
 'bache',
 'bachega',
 'bachi',
 'bachman',
 'bacho',
 'bachta',
 'back',
 'backchodi',
 'background',
 'backhand',
 'backlog',
 'backlogs',
 'backup',
 'bad',
 'badae',
 'badalta',
 'bade',
 'badegrami',
 'badhae',
 'badhai',
 'badhaiya',
 'badhaiyan',
 'badhaye',
 'badhayi',
 'badhva',
 'badi',
 'badiya',
 'badla',
 'badlapur',
 'badle',
 'badnawar',
 'baf',
 'bag',
 'bagawat',
 'bahana',
 'bahar',
 'bahna',
 'bahul',
 'bahumat',
 'bahut',
 'bai',
 'bail',
 'baitha',
 'baithe',
 'bajah',
 'bajai',
 'baje',
 'bakchodi',
 'bake',
 'baki',
 'bakio',
 'bal',
 'balaguru',
 'balagurusamy',
 'balam',
 'bam',
 'bambo',
 'ban',
 'bana',
 'banai',
 'banakar',
 'banana',
 'banane',
 'banao',
 'banate',
 'banaya',
 'banba',
 'banbaye',
 'band',
 'bane',
 'banega',
 'banglore',
 'bani',
 'bank',
 'banking',
 'banlwb',
 'bap',
 'bar',
 'barbad',
 'barclays',
 'bare',
 'bari',
 'barier',
 'barish',
 'bariya',
 'barme',
 'barna',
 'baroli',
 'bas',
 'base',
 'based',
 'baseurl',
 'basic',
 'basis',
 'baso',
 'bat',
 'bata',
 'batana',
 'batane',
 'batao',
 'batara',
 'batau',
 'bataunga',
 'bataya',
 'batayega',
 'batayege',
 'batayi',
 'batch',
 'batched',
 'batches',
 'bate',
 'batenge',
 'batndena',
 'bato',
 'bc',
 'bcd',
 'bcha',
 'bche',
 'bcho',
 'bcoz',
 'bd',
 'bda',
 'bdate',
 'bday',
 'bdh',
 'bdhai',
 'bdhaiya',
 'bdia',
 'bdiya',
 'bdsw',
 'be',
 'beam',
 'beaming',
 'bearded',
 'beb',
 'because',
 'bechara',
 'bechari',
 'bechwa',
 'becoming',
 'before',
 'begin',
 'beginer',
 'beginers',
 'begun',
 'behalf',
 'behati',
 'behavior',
 'behavioral',
 'behen',
 'behenkr',
 'behenlog',
 'behind',
 'behna',
 'behti',
 'being',
 'beithe',
 'bejati',
 'bekar',
 'bel',
 'believe',
 'belong',
 'below',
 'ben',
 'bend',
 'benefit',
 'benefited',
 'benefits',
 'best',
 'bet',
 'beta',
 'betaque',
 'beter',
 'beth',
 'betha',
 'bethe',
 'bethenge',
 'bethke',
 'bethna',
 'bethne',
 'bethuga',
 'bethunga',
 'betwen',
 'beverage',
 'beyond',
 'bf',
 'bgmvipcrqxac',
 'bgtlwtrp',
 'bha',
 'bhadak',
 'bhadkau',
 'bhadwo',
 'bhag',
 'bhaga',
 'bhagwan',
 'bhagwati',
 'bhai',
 'bhaijan',
 'bhailog',
 'bhain',
 'bhaisab',
 'bhaiya',
 'bhaiyo',
 'bhaiyon',
 'bhaiyu',
 'bhaj',
 'bhakt',
 'bhalot',
 'bhalotwiner',
 'bhandara',
 'bhandare',
 'bhangara',
 'bhanu',
 'bhar',
 'bhara',
 'bharaya',
 'bharde',
 'bhardi',
 'bhargav',
 'bhari',
 'bharke',
 'bharna',
 'bharni',
 'bharo',
 'bharosewalo',
 'bhasa',
 'bhasney',
 'bhat',
 'bhatak',
 'bhatije',
 'bhature',
 'bhau',
 'bhaut',
 'bhavsar',
 'bhdwe',
 'bhe',
 'bheh',
 'bhej',
 'bheja',
 'bhejati',
 'bhejde',
 'bhejdo',
 'bhejdunga',
 'bheje',
 'bhejega',
 'bhejenge',
 'bheji',
 'bhejna',
 'bhejne',
 'bhejo',
 'bhejta',
 'bheju',
 'bhejunga',
 'bhen',
 'bhetren',
 'bhg',
 'bhgvan',
 'bhi',
 'bhiaya',
 'bhiya',
 'bhj',
 'bhja',
 'bhjde',
 'bhje',
 'bhji',
 'bhjna',
 'bhjo',
 'bhle',
 'bhn',
 'bhojpuri',
 'bhola',
 'bhole',
 'bholenath',
 'bhopal',
 'bhot',
 'bhr',
 'bhra',
 'bhre',
 'bhrna',
 'bhrni',
 'bhrosa',
 'bht',
 'bhul',
 'bhuli',
 'bhulo',
 'bhut',
 'bi',
 'biceps',
 'bich',
 'bichare',
 'big',
 'bigad',
 'bigadane',
 'bigdata',
 'bigest',
 'bike',
 'bil',
 'bilinear',
 'bilkul',
 'bin',
 'binding',
 'biranga',
 'birth',
 'bit',
 'bits',
 'bje',
 'bjej',
 'bjtw',
 'bki',
 'bkr',
 'bkxf',
 'black',
 'ble',
 'blend',
 'blesings',
 'block',
 'blti',
 'bmax',
 'bmin',
 'bn',
 'bna',
 'bnake',
 'bnalo',
 'bnana',
 'bnane',
 'bnani',
 'bnara',
 'bnata',
 'bnau',
 'bnaugi',
 'bnd',
 'bnde',
 'bne',
 'bnega',
 'bnegi',
 'bnva',
 'bnwa',
 'boar',
 'board',
 'body',
 'boht',
 'boi',
 'boking',
 'bol',
 'bola',
 'bolae',
 'boldena',
 'boldo',
 'bole',
 'bolege',
 'bolegi',
 'bolenge',
 'boli',
 'bolina',
 'bolke',
 'bolna',
 'bolne',
 'bolo',
 'bologe',
 'bolrnge',
 'bolta',
 'bolte',
 'bolti',
 'bolu',
 'bolunga',
 'bombay',
 'bond',
 'bong',
 'bore',
 'botcamp',
 'both',
 'botle',
 'botom',
 'bouquet',
 'bowl',
 'box',
 'boy',
 'boys',
 'bp',
 'bpj',
 'bpjsbwr',
 'br',
 'brains',
 'branch',
 'branches',
 'brand',
 'break',
 'breaking',
 'brief',
 'bring',
 'british',
 'bro',
 'broken',
 'brother',
 'browser',
 'brsi',
 'bruh',
 'brw',
 'bryant',
 'bs',
 'bsdk',
 'bsic',
 'bt',
 'bta',
 'btade',
 'btadega',
 'btado',
 'btae',
 'btai',
 'btaiye',
 'btana',
 'btao',
 'btata',
 'btate',
 'btau',
 'btaya',
 'btayega',
 'btayeha',
 'btcmci',
 'btcs',
 'btcse',
 'btech',
 'btit',
 'btn',
 'btoh',
 'btw',
 'btzmtjthesfobr',
 'buble',
 'budy',
 'bug',
 'build',
 'bula',
 'bulana',
 'bulao',
 'bulaye',
 'bulseye',
 'bumblebe',
 'bumqod',
 'bunch',
 'bunk',
 'bura',
 'burai',
 'bus',
 'buses',
 'busines',
 'busy',
 'but',
 'buton',
 'buy',
 'buys',
 'bwrxi',
 'bxmlnjhru',
 'by',
 'bye',
 'byjus',
 'bzb',
 'ca',
 'cab',
 'cabin',
 'cable',
 'cake',
 'cal',
 'calci',
 'calculate',
 'calculator',
 'calendar',
 'calender',
 'caling',
 'calm',
 'came',
 'campaign',
 'campus',
 'campuses',
 'campusreg',
 'can',
 'cancel',
 'canceled',
 'cancle',
 'candidate',
 'candidates',
 'candle',
 'candy',
 'canera',
 'canot',
 'canten',
 'canva',
 'capable',
 'capacitor',
 'capital',
 'captured',
 'card',
 'cards',
 'care',
 'carefuly',
 'carer',
 'carers',
 'caried',
 'caries',
 'carona',
 ...]

In [113]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(ngram_range=(1,2))
X = cv.fit_transform(corpus)
# y = y_train

In [114]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier

In [115]:
from sklearn.metrics import accuracy_score,precision_score,recall_score,confusion_matrix,roc_curve,classification_report

In [116]:
rfc = RandomForestClassifier()
rfc.fit(X,y)

RandomForestClassifier()

In [117]:
# test_corpus = []
# for word in X_test:
#     test_corpus.append(str(word))
# test_corpus

In [118]:
# X_test = cv.transform(X_test)

In [119]:
# predictions = rfc.predict(X_test)

In [120]:
# accuracy_score(y_test, predictions)

In [148]:
prediction = rfc.predict(cv.transform(['kala', 'teri', 'bc'])).tolist()
total = len(prediction)
negative = total - prediction.count(1.0)
positive = total - negative
negative_per = round(negative / total * 100, 2)
positive_per = round(positive / total * 100, 2)
total, negative, positive, negative_per, positive_per

(3, 1, 2, 33.33, 66.67)

In [124]:
words_df[words_df['Word'] == 'bc']

    Word  Label
615   bc    0.0

In [123]:
words_df[words_df['Word'] == 'teri']

      Word  Label
6176  teri    1.0

In [122]:
words_df[words_df['Word'] == 'kala']

      Word  Label
3240  kala    1.0

In [8]:
import pickle
with open('semtimental_analysis_model.pickle', 'wb') as f:
    pickle.dump(rfc, f)

NameError: name 'rfc' is not defined

In [163]:
with open("vectorizer.pkl", "wb") as f:
    pickle.dump(cv, f)

In [9]:
model = pickle.load(open("semtimental_analysis_model.pkl", "rb"))
vectorizer = pickle.load(open("vectorizer.pkl", "rb"))

In [10]:
new_df = df[df['Message']!='<Media omitted>\n']
new_df = new_df[new_df['Message']!='This message was deleted']
new_df['Message'] = new_df['Message'].apply(remove_emojis)
words = text_transformation(new_df['Message'])

In [11]:
words

['pehle',
 'kar',
 'joke',
 'op',
 'instructions',
 'usko',
 'unko',
 'ne',
 'kra',
 'pdega',
 'smjhayenge',
 'bura',
 'hnh',
 'reviews',
 'kushgra',
 'bd',
 'dear',
 'xriteria',
 'count',
 'ye',
 'glas',
 'coleges',
 'multiple',
 'day',
 'reply',
 'flushed',
 'thread',
 'policy',
 'story',
 'raja',
 'calm',
 'arays',
 'btcs',
 'mzjmnju',
 'dig',
 'kardi',
 'pr',
 'punya',
 'pouchne',
 'nho',
 'eyebrow',
 'hoja',
 'hori',
 'bethke',
 'nikalne',
 'claping',
 'board',
 'program',
 'que',
 'pasport',
 'pehel',
 'hmare',
 'aega',
 'behind',
 'zindagi',
 'fake',
 'date',
 'informed',
 'can',
 'itne',
 'numerical',
 'sections',
 'babe',
 'end',
 'de',
 'ly',
 'filed',
 'wk',
 'sab',
 'fir',
 'cases',
 'sataegi',
 'utri',
 'idhar',
 'pasout',
 'complaint',
 'gren',
 'esa',
 'maybe',
 'him',
 'load',
 'dcla',
 'uspe',
 'jisne',
 'beb',
 'package',
 'rehta',
 'batches',
 'others',
 'learn',
 'make',
 'destroyed',
 'pm',
 'join',
 'usmai',
 'pd',
 'jagat',
 'soft',
 'rhe',
 'jise',
 'ghar',
 'jit',
 'padhe',
 'red',
 'lete',
 'resume',
 'karat',
 'kismt',
 'dikhna',
 'krta',
 'chle',
 'urf',
 'itna',
 'hojaga',
 'highest',
 'laya',
 'vaha',
 'huva',
 'unamused',
 'vali',
 'dc',
 'ujani',
 'pushpa',
 'shit',
 'wese',
 'saiyana',
 'doesn',
 'bus',
 'dusare',
 'lenge',
 'prices',
 'topics',
 'these',
 'padha',
 'bacho',
 'krlo',
 'roling',
 'chor',
 'golu',
 'going',
 'ganda',
 'depak',
 'encrypted',
 'aunga',
 'luga',
 'harsh',
 'wali',
 'peace',
 'btn',
 'chain',
 'uspa',
 'atend',
 'ec',
 'kyo',
 'ap',
 'cognitive',
 'banba',
 'prso',
 'vid',
 'wine',
 'gogle',
 'pandey',
 'indore',
 'poce',
 'if',
 'nishabi',
 'ufhv',
 'scren',
 'iski',
 'kbhi',
 'recomender',
 'joy',
 'ao',
 'symbol',
 'gle',
 'dekhna',
 'teko',
 'tone',
 'kina',
 'jrurat',
 'dalti',
 'glucose',
 'badhayi',
 'bhejo',
 'baki',
 'budy',
 'mangega',
 'marchod',
 'sabhi',
 'colege',
 'conversation',
 'hum',
 'vj',
 'cb',
 'pa',
 'was',
 'atb',
 'ek',
 'rkh',
 'urgent',
 'vse',
 'atendance',
 'ge',
 'hai',
 'pensive',
 'wla',
 'rewa',
 'bahna',
 'placed',
 'smiling',
 'normal',
 'excel',
 'ayega',
 'semester',
 'omited',
 'out',
 'karwatae',
 'oqn',
 'manager',
 'nasa',
 'page',
 'chlra',
 'shrikrishna',
 'stated',
 'gadbad',
 'handshake',
 'microsoft',
 'banana',
 'mrs',
 'ke',
 'pad',
 'bad',
 'phuch',
 'btana',
 'lekin',
 'pleading',
 'dega',
 'cgpa',
 'bhut',
 'vacation',
 'rai',
 'sa',
 'location',
 'aw',
 'pani',
 'adres',
 'timing',
 'sabne',
 'jauga',
 'upon',
 'agya',
 'jhoti',
 'bje',
 'esliye',
 'invest',
 'isme',
 'jane',
 'liye',
 'eleglible',
 'bhn',
 'duta',
 'read',
 'paying',
 'destination',
 'tm',
 'eski',
 'karna',
 'regards',
 'puchti',
 'vala',
 'clases',
 'beth',
 'pucho',
 'browser',
 'rahi',
 'yaha',
 'niklega',
 'teri',
 'los',
 'ans',
 'me',
 'le',
 'view',
 'tcsfresherhiringyop',
 'plan',
 'yahi',
 'loan',
 'alvid',
 'isliye',
 'dificult',
 'auga',
 'dekho',
 'bs',
 'study',
 'pratap',
 'vah',
 'related',
 'dale',
 'chota',
 'verification',
 'tu',
 'invited',
 'singh',
 'projects',
 'groundtruth',
 'days',
 'roka',
 'presure',
 'confirm',
 'ninja',
 'corect',
 'grup',
 'nqt',
 'top',
 'krva',
 'dal',
 'bahul',
 'bnake',
 'amit',
 'jaoge',
 'fayda',
 'hoga',
 'data',
 'tpo',
 'lagta',
 'isko',
 'sabko',
 'wow',
 'nikl',
 'haw',
 'subscribe',
 'sharam',
 'gau',
 'virtual',
 'because',
 'skin',
 'shayad',
 'aded',
 'harshwardhan',
 'bana',
 'dkt',
 'unka',
 'ayi',
 'dusri',
 'bol',
 'bt',
 'uk',
 'pichle',
 'barna',
 'teams',
 'gaye',
 'fraud',
 'kru',
 'daba',
 'doge',
 'ki',
 'mai',
 'guarante',
 'sirf',
 'nashe',
 'hogyi',
 'kisine',
 'so',
 'knife',
 'jayege',
 'entrepreneur',
 'htp',
 'slove',
 'problem',
 'us',
 'chitingbazi',
 'reh',
 'fe',
 'bas',
 'chose',
 'starting',
 'paste',
 'isilea',
 'chirag',
 'akhain',
 'physics',
 'jinda',
 'using',
 'pritesh',
 'scholarship',
 'enroled',
 'ed',
 'the',
 'bin',
 'made',
 'rehte',
 'bhej',
 'bank',
 'transactions',
 'toc',
 'ou',
 'uctere',
 'milega',
 'number',
 'mam',
 'hbd',
 'lnmkumljk',
 'shal',
 'ajenge',
 'them',
 'taiyari',
 'shukla',
 'kerwa',
 'pseudo',
 'atached',
 'ja',
 'involved',
 'bhari',
 'bharo',
 'thu',
 'results',
 'bike',
 'tumhara',
 'kispe',
 'ns',
 'cse',
 'shyad',
 'karn',
 'invite',
 'ata',
 'abhisbek',
 'kro',
 'technical',
 'thode',
 'kardo',
 'said',
 'diferent',
 'one',
 'php',
 'training',
 'umed',
 'bhara',
 'bolta',
 'arey',
 'visible',
 'merko',
 'questions',
 'thanks',
 'btate',
 'ache',
 'pas',
 'student',
 'uw',
 'displayed',
 'la',
 'du',
 'body',
 'context',
 'sweat',
 'pehli',
 'promotions',
 'rakhna',
 'science',
 'sda',
 'first',
 'basis',
 'seniors',
 'izgr',
 'cordinator',
 'yar',
 'within',
 'be',
 'ticket',
 'hr',
 'visit',
 'thoda',
 'gayi',
 'option',
 'bdiya',
 'guru',
 'bache',
 'linear',
 'qualify',
 'studies',
 'which',
 'awaz',
 'shuru',
 'agle',
 'nikla',
 'jiska',
 'ma',
 'demise',
 'puchta',
 'flod',
 'dukh',
 'platform',
 'report',
 'mila',
 'gets',
 'draye',
 'bnd',
 'ibm',
 'bharke',
 'june',
 'merji',
 'query',
 'ya',
 'agar',
 'mae',
 'company',
 'rakh',
 'reject',
 'islea',
 'kafi',
 'pdlo',
 'proces',
 'no',
 'deive',
 'registered',
 'aptitude',
 'mat',
 'kisi',
 'momos',
 'hostel',
 'kidney',
 'field',
 'salman',
 'mis',
 'reality',
 'kuch',
 'is',
 'hour',
 'kl',
 'kitchen',
 'notes',
 'learning',
 'link',
 'gnda',
 'maze',
 'dewas',
 'grace',
 'ab',
 'dukan',
 'voto',
 'raha',
 'proj',
 'subh',
 'shift',
 'test',
 'hardik',
 'pura',
 'diabetes',
 'lha',
 'acordingly',
 'bkr',
 'she',
 'preference',
 'met',
 'bheje',
 'edit',
 'bag',
 'ofline',
 'kara',
 'decision',
 'hiring',
 'sahi',
 'to',
 'smirking',
 'kitne',
 'iv',
 'as',
 'vese',
 'sai',
 'close',
 'krna',
 'tki',
 'maine',
 'android',
 'amazon',
 'bole',
 'wil',
 'htps',
 'contact',
 'th',
 'java',
 'mesages',
 'watchout',
 'hona',
 'krke',
 'paye',
 'obc',
 'shor',
 'start',
 'sal',
 'hota',
 'opinion',
 'sory',
 'shi',
 'ho',
 'chaiye',
 'kregai',
 'crying',
 'tak',
 'acha',
 'sate',
 'searching',
 'khudko',
 'fc',
 'padega',
 'ofer',
 'na',
 'exams',
 'ml',
 'jaega',
 'faida',
 'barme',
 'pune',
 'pde',
 'jlege',
 'spam',
 'reset',
 'tear',
 'btao',
 'tha',
 'walkover',
 'kab',
 'fevi',
 'overdose',
 'aya',
 'aye',
 'bda',
 'supervised',
 'fre',
 'prithvi',
 'nd',
 'monitoring',
 'logo',
 'nam',
 'outside',
 'ase',
 'sisodiya',
 'dikat',
 'hexaware',
 'chutiye',
 'roman',
 'aplied',
 'switch',
 'ohk',
 'saluting',
 'friends',
 'icons',
 'comence',
 'hoge',
 'desire',
 'ruko',
 'paya',
 'beaming',
 'ajata',
 'karne',
 'age',
 'ned',
 'anil',
 'ankit',
 'mens',
 'smjhane',
 'jina',
 'lagana',
 'smjhao',
 'participants',
 'mcq',
 'best',
 'removed',
 'abto',
 'are',
 'ana',
 'abhishek',
 'directorcrp',
 'mp',
 'congratulations',
 'clarified',
 'also',
 'koi',
 'bolte',
 'par',
 'hokar',
 'description',
 'bahut',
 'milta',
 'sale',
 'xjrxfiot',
 'hmara',
 'chot',
 'filal',
 'bharde',
 'vhi',
 'pta',
 'irc',
 'lo',
 'selected',
 'aise',
 'likhvate',
 'bata',
 'grp',
 'azure',
 'mentor',
 'khud',
 'cbad',
 'nta',
 'lgegi',
 'kisne',
 'quy',
 'liya',
 'krdi',
 'msg',
 'biranga',
 'une',
 'congratulation',
 'studio',
 'it',
 'cheating',
 'dege',
 'df',
 'imediately',
 'karvayenge',
 'bach',
 'en',
 'tiping',
 'mil',
 'aply',
 'yes',
 'go',
 'sir',
 'students',
 'reference',
 'tujhe',
 'above',
 'mile',
 'milye',
 'afe',
 're',
 'for',
 'ni',
 'ligha',
 'chinta',
 'ambasador',
 'fri',
 'jo',
 'toh',
 'guhv',
 'chanel',
 'personal',
 'but',
 'kre',
 'lab',
 'september',
 'certificate',
 'candidates',
 'they',
 'karwate',
 'my',
 'birth',
 'kon',
 'pdu',
 'completion',
 'srf',
 'curent',
 'pasword',
 'hn',
 'coding',
 'of',
 'facing',
 'sef',
 'minute',
 'rajavat',
 'performance',
 'hapy',
 'karwana',
 'dekh',
 'lege',
 'further',
 'ist',
 'padegi',
 'mang',
 'name',
 'yha',
 'zyada',
 'gye',
 'shanti',
 'mje',
 'balam',
 'kha',
 'karega',
 'caste',
 'bumblebe',
 'btayega',
 'chlte',
 'lerha',
 'art',
 'memorial',
 'achi',
 'bola',
 'kiske',
 'easy',
 'loudly',
 'gadi',
 'bhjde',
 'krvayege',
 'laughing',
 'vijay',
 'jitne',
 'rd',
 'cv',
 'sbse',
 'advance',
 'kdo',
 'abstract',
 'vacant',
 'trigonometry',
 'second',
 'gt',
 'humara',
 'available',
 'sv',
 'alag',
 'voice',
 'youtube',
 'etc',
 'ps',
 'panwar',
 'portal',
 'bariya',
 'valo',
 'confused',
 'wale',
 'dono',
 'case',
 'duration',
 'rok',
 'forward',
 'asap',
 'exclamation',
 'lifeskils',
 'tb',
 'use',
 'ghnte',
 'faipqlseyi',
 'ribyp',
 'nagar',
 'tum',
 'dai',
 'machine',
 'khrab',
 'transfer',
 'ko',
 'icon',
 'uquqm',
 'mst',
 'batao',
 'deleted',
 'lakh',
 'dekar',
 'yad',
 'milte',
 'kr',
 'bna',
 'english',
 'st',
 'mazak',
 'asign',
 'ang',
 'al',
 'rha',
 'gyan',
 'last',
 'atma',
 'ad',
 'terko',
 'oi',
 'batched',
 'hmesha',
 'left',
 'abr',
 'jyada',
 'tgdi',
 'agaya',
 'krishna',
 'chitiya',
 'congrats',
 'chuti',
 'version',
 'paper',
 'cj',
 'serious',
 'hmko',
 'cloud',
 'surity',
 'moi',
 'jayga',
 'project',
 'chakrawarti',
 'idea',
 'kyu',
 'thx',
 'bhar',
 'apan',
 'nahi',
 'direct',
 'yeh',
 'wants',
 'pahuche',
 'ajao',
 'uske',
 'krunga',
 'khrcha',
 'double',
 'kya',
 'hardcopy',
 'microphone',
 'block',
 'love',
 'kesa',
 'mar',
 'boli',
 'ha',
 'industrial',
 'gmail',
 'lakshan',
 'sham',
 'select',
 'entry',
 'focus',
 'pyase',
 'apear',
 'achut',
 'ds',
 'graph',
 'mr',
 'screnshot',
 'rhi',
 'leti',
 'after',
 'bheja',
 'shahar',
 'click',
 'night',
 'suspended',
 'vote',
 'joining',
 'mjak',
 'hue',
 'easily',
 'exam',
 'bond',
 'architecture',
 'gretings',
 'tarik',
 'sharma',
 'links',
 'per',
 'deti',
 'edu',
 'reading',
 'ka*',
 'bat',
 'carers',
 'mark',
 'suna',
 'gyae',
 'rahe',
 'your',
 'krdiya',
 'svits',
 'information',
 'bro',
 'ji',
 'next',
 'sare',
 'here',
 'responsible',
 'nivedan',
 'mene',
 'chod',
 'forget',
 'upside',
 'santi',
 'cab',
 'factorial',
 'honge',
 'badhai',
 'interview',
 'dana',
 'hoti',
 'com',
 'lagani',
 'yjktowq',
 'its',
 'govind',
 'e‚Ä¶',
 'sem',
 'vcf',
 'bhaiya',
 'silence',
 'posible',
 'in',
 'abas',
 ...]

In [15]:
prediction = model.predict(vectorizer.transform(words)).tolist()

In [18]:
def sentimental_analysis(df):
    new_df = df[df['Message']!='<Media omitted>\n']
    new_df = new_df[new_df['Message']!='This message was deleted']
    new_df['Message'] = new_df['Message'].apply(remove_emojis)
    words = text_transformation(new_df['Message'])
    prediction = model.predict(vectorizer.transform(words)).tolist()
    total = len(prediction)
    negative = total - prediction.count(1.0)
    positive = total - negative
    negative_per = round(negative / total * 100, 2)
    positive_per = round(positive / total * 100, 2)
    return negative_per, positive_per

In [19]:
sentimental_analysis(df)

(13.02, 86.98)